.container {
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

